.mainheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4em;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
}

.headerlogo {
  cursor: pointer;
  font-family: 'inter-extrabold';
  font-size: 1em;
  margin: 0 3em 0 0;
  transition: .5s all;
}

.headerlogo:hover {
  transform: scale(0.96);
}

.headerlinks {
  a {
    font-family: 'inter-medium';
  }

  transition: .5s all;
}

.headerlinks:hover {
  transform: scale(0.96);
}

.headerbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerbutton2 {
  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    padding: .5em 2em .5em 1em;
    color: white;
    background: #ED0842;
    border: none;
    letter-spacing: 0.05em;
    border-radius: 99px;
  }

  button svg {
    margin-right: 1px;
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    transform: translateX(7px);
  }

  button:hover svg {
    transform: translateX(5px) rotate(90deg);
  }

  button:active {
    transform: scale(0.99);
  }
}

.headerbutton1 {
  button {
    cursor: pointer;
    --color: #ED0842;
    font-family: inherit;
    display: inline-block;
    line-height: 2.5em;
    padding: .13em 2em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 12px;
    border-radius: 99px;
    font-weight: 500;
    color: var(--color);
    background-color: transparent;
  }

  button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }

  button:hover {
    color: #fff;
  }

  button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
  }

  button:hover:before {
    top: -30px;
    left: -30px;
  }

  button:active:before {
    transition: background 0s;
  }

  button:active {
    transform: scale(0.99);
  }
}

.setaUser {
  cursor: pointer;
  position: absolute;
  right: 4em;
  top: 6%;
}

.popup {
  position: absolute;
  padding: 1em;
  top: 8vh;
  right: 4em;
  background: #202020;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 11.3778px 17.0667px rgba(0, 0, 0, 0.1), 0px 1.42222px 4.26667px rgba(0, 0, 0, 0.1);
  border-radius: 1em;
}
@media only screen and (max-width: 1450px) {
  .popup{
    padding: 1em 5em 0em 1em;
  }
}

@media only screen and (max-width: 720px) {
  .mainheader {
    width: 100vw;
    height: auto;
    flex-direction: column;
  }
  .setaUser{
    position: relative;
  }
  .popup{
    top: 15%;
    right: 40%;
    padding: 1em 7em 0em 1em;
  }
}