.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95vw;
    height: auto;
    flex-wrap: wrap;
}

.product {
    width: 20%;
    height: auto;
    padding: 4em 1em 2em 1em;
    background: #202020;
    border: 1px solid #000000;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    margin: 1em;

    h2,
    h3 {
        font-size: 1em;
        text-align: center;
        font-family: 'poppins-SemiBold';
    }

    h4 {
        font-size: .8em;
        text-align: center;
        font-family: 'poppins-SemiBold';
    }

    button {
        cursor: pointer;
        border: 2px solid #ED0842;
        border-radius: 5px;
        background-color: transparent;
        font-family: 'poppins-Medium';
        width: 100%;
        padding: .5em;
        color: #ED0842;
        transition: .2s all;
    }

    button:hover {
        background-color: #ED0842;
        border: transparent 2px solid;
        color: #fff;
    }
}

.image {
    height: 10vh;
    display: flex;
    justify-content: center;

    img {
        border-radius: 99px;
        height: 100%;

    }
}

@media only screen and (max-width: 720px) {
    .main {
        flex-direction: column;
    }

    .product {
        width: 90%;
    }
}