.container {
  background-color: #202020;
  border: solid #121212 1px;
  height: 100%;
}

.main {
  min-height: 88.5vh;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maincontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  width: 95%;
  height: auto;
  padding-bottom: 2em;
  border-radius: 1.7em;
  box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.3);
}

.bigInput {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 95%;
  padding: 1em;
  background: #292929;
  border-radius: .7em;

  input {
    font-size: 1em;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
  }
}

.filter {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  width: 100%;
}

.filterSelect {
  width: 10%;
  height: 100%;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #292929;
  background-image: url('../public/configFilter.svg');
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 50%;
  border: 1px solid rgba(186, 186, 186, 0.2);
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
  border-radius: 12px;
  font-size: 1em;
}

.mainProducts {
  width: 100%;
  height: auto;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product {
  width: 20%;
  height: auto;
  padding: 1em;
  background: #202020;
  border: 1px solid #000000;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  margin: 1em;

  h2,
  h3 {
    font-size: 1em;
    text-align: center;
    font-family: 'poppins-SemiBold';
  }

  h4 {
    font-size: .8em;
    text-align: center;
    font-family: 'poppins-SemiBold';
  }

  button {
    cursor: pointer;
    border: 2px solid #ED0842;
    border-radius: 5px;
    background-color: transparent;
    font-family: 'poppins-Medium';
    width: 100%;
    padding: .5em;
    color: #ED0842;
    transition: .2s all;
  }

  button:hover {
    background-color: #ED0842;
    border: transparent 2px solid;
    color: #fff;
  }
}

.image {
  height: 10vh;
  display: flex;
  justify-content: center;

  img {
    border-radius: 99px;
    height: 100%;

  }
}

.wrapper {
  margin-top: 10%;
  width: 25%;
  height: 25vh;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}